In [ ]:
def TabuadaExponencial(x,y):
  fim = 1
  tabuada = []
  for i in range(1,y+1):
    tabuada.append(fim) # inclui a variável 'fim' na lista 'tabuada'
    fim = fim*x         # atualiza o valor da variável fim com o valor anteiror de fim multiplicado por x
    print(str(x)+' elevado a ' + str(i) +' é igual a '+ str(fim) )   # imprime a string entre os parenteses
  tabuada.append(fim)
  return tabuada

#Dever de Casa!


defina a função TabuadaMultiplicativa, 

e gere a tabuada de multiplicação dos números 2, 5 e 9 e faça seus gráficos. 

qual diferença vc vê entre eles? qual é a explicação para essa diferença?

In [ ]:
# altere esse código copiado da tabuada exponencial para representar a tabuada multiplicativa

# vc tem que alterar somente duas linhas
# fim = fim*x
# print(str(x)+' elevado a ' + str(i) +' é igual a '+ str(fim) )

# dica:
# exemplo de exponenciação
# 4^5 = 4*4*4*4*4
# exemplo de multiplicação
# 4*5 = 4 + 4 + 4 + 4 + 4

def TabuadaMultiplicativa(x,y):
  fim = 1
  tabuada = []
  for i in range(1,y+1):
    tabuada.append(fim)
    fim = fim+x
    print(str(x)+' vezes ' + str(i) +' é igual a '+ str(fim) )
  tabuada.append(fim)
  return tabuada

#Dever de Casa! 

uma função que escreve um asterístico e pule uma linha N vezes

In [ ]:
def asteritico_e_pule_linha(N):
  for i in range(0,N):
  # para i em range(0,N)
      print('*', end='')
      print('\n')
  return

#Dever de Casa: 

Responda a pergunta; qual a diferença entre as funções asteritico_e_pule_linha2 e asteritico_e_pule_linha ? explique seus diferentes outputs


No primeiro caso há um espaço entre um loop e outro. No segundo caso há um loop abaixo da linha de asteriscos.

0) Obtenha o tamanho da lista abaixo usando a função len

In [ ]:
lista=[1,2,23,3,3,1,12,2,3,13,1,2,31,3,1,31,3,13,13,13,13,13,3,3,3,4,4,1,1,1]

In [ ]:
len(lista)

1) Defina uma funçao que retorna o tamanho da lista!

In [ ]:
def tamanho_lista(lista):
  return len(lista)

In [ ]:
tamanho_lista(['pedro','sara','antonio','roberto'])

2) Defina uma funçao que imprime os strings dentro de uma lista  e retorna o tamanho da lista!

In [ ]:
def imprimelista(lista):
  for i in range(0,len(lista)):
    print(lista[i])
  
  return len(lista)

#Dever de Casa

###1) compare 7^x com x! (x fatorial)

para quais valores de x vc observa $7^x > x$!

para quais valores de x vc observa $7^x < x$!


###2) crie uma função para fazer essa comparação (desafio)

In [ ]:
def teste(x): 
  print(7**x)
  print(fatorial(x))
  if 7**x > fatorial(x):
    print(1)
    return 1
  elif 7**x == fatorial(x):
    print(0)
    return 0
  elif 7**x < fatorial(x):
    print(-1)
    return -1

#Dever de Casa

Defina uma função que recebe como input a idade de alguém (variável numérica) e devolve como output a categoria etária na qual essa pessoa se enquadra. As categorias são

 - criança (de 0 a 13 anos) E
 - adolescente (de 13 a 19 anos) D
 - jovem (de 20 a 30 anos) C
 - adulto (de 30 a 50 anos) B
 - supremo (de 50 anos em diante) A

Seu output deve ser um string de uma única letra correspondente a categoria que a pessoa pertence:

exemplo se o input é 25 
o output deve ser 'C'

In [ ]:
def CategoriaEtaria(x):
  if 0<x<=13:  categoria = 'E'
  elif 13<x<=19: categoria = 'D'
  elif 19<x<=30: categoria = 'C'
  elif 30<x<=50: categoria = 'B'
  elif x>50 : categoria = 'A'
  return categoria

1) compare $(x^2 + 130 x + 3)$ com $x!$ (x fatorial)
para quais valores de x vc observa 

 $(x^2 + 130 x + 3)>𝑥$ !

para quais valores de x vc observa  

$(x^2 + 130 x + 3)<𝑥$ !

2) crie uma função para fazer essa comparação (desafio)

In [ ]:
def comparacao(x):
  if (x**2+130*x+3)>fatorial(x):
    return 'maior'
  elif (x**2+130*x+3)<fatorial(x):
    return 'menor'
  if (x**2+130*x+3)==fatorial(x):
    return 'igual'

#Dever de casa

1) Defina a função duplo fatorial 

pares:

$ 8!! = 8*6*4*2 $

impares:

$13!! = 13*11*9*7*5*3*1$ 

2)  qual relação entre x e y garante

x! < y !!

In [ ]:
def duplofatorialpar(x):
  output=1
  for i in range(2,x+2,2):
    output = output*i 
  return output

In [ ]:
def duplofatorialimpar(x):
  output=1
  for i in range(3,x+2,2):
    output = output*i
  return output

In [ ]:
def duplofatorial(x):
  if x%2==0: return (duplofatorialpar(x))
  else: return (duplofatorialimpar(x))

#Dever de Casa

##Séries!

$x_n = \frac{1}{2^n}$

$x_0 = \frac{1}{2^0} = 1$

$x_1 = \frac{1}{2^1} = \frac{1}{2}$

$x_2 = \frac{1}{2^2} = \frac{1}{4}$

...

$y_n = x_n + x_{n-1} + x_{n-2} + .... + x_0 = \sum_0^n x_n$

$y_0 = \frac{1}{2^0} = 1$

$y_1 = \frac{1}{2^0} + \frac{1}{2^1} = 1 + \frac{1}{2}$

$y_2 = \frac{1}{2^0} + \frac{1}{2^1} +\frac{1}{2^2} = 1 +  \frac{1}{2} + \frac{1}{4}$

....

calcule o valor de $x_n$ e $y_n$ para vários $n$'s, qual valor essas sequências apresentam para n grande? Defina funções para obter os valores

In [ ]:
def xn(n):
  return 1/2**n

In [ ]:
def yn(n):
  fim = 0
  for i in range(0,n+1):
    fim = fim + xn(i)
  return fim

#Dever de Casa

##Séries!

$w_n = \frac{1}{3^n}$

$w_0 = \frac{1}{3^0} = 1$

$w_1 = \frac{1}{3^1} = \frac{1}{3}$

$w_2 = \frac{1}{3^2} = \frac{1}{9}$

...

$z_n = w_n + w_{n-1} + w_{n-2} + .... + w_0 = \sum_0^n w_n$

$z_0 = \frac{1}{3^0} = 1$

$z_1 = \frac{1}{3^0} + \frac{1}{3^1} = 1 + \frac{1}{3}$

$z_2 = \frac{1}{3^0} + \frac{1}{3^1} +\frac{1}{3^2} = 1 +  \frac{1}{3} + \frac{1}{9}$

....

calcule o valor de $w_n$ e $z_n$ para vários $n$'s, qual valor essas sequências apresentam para n grande? Defina funções para obter os valores

In [ ]:
def wn(n):
  return 1/3**n

In [ ]:
def zn(n):
  fim = 0
  for i in range(0,n+1):
    fim = fim + wn(i)
  return fim

#Dever de Casa

##Produtório!

$w_n = \frac{1}{3^n}$

$w_0 = \frac{1}{3^0} = 1$

$w_1 = \frac{1}{3^1} = \frac{1}{3}$

$w_2 = \frac{1}{3^2} = \frac{1}{9}$

...

$z_n = w_n * w_{n-1} * w_{n-2} * .... * w_0 = \prod_0^n w_n$

$z_0 = \frac{1}{3^0} = 1$

$z_1 = \frac{1}{3^0} * \frac{1}{3^1} = 1 * \frac{1}{3}$

$z_2 = \frac{1}{3^0} * \frac{1}{3^1} *\frac{1}{3^2} = 1 *  \frac{1}{3} * \frac{1}{9}$

....

calcule o valor de $w_n$ e $z_n$ para vários $n$'s, qual valor essas sequências apresentam para n grande? Defina funções para obter os valores

In [ ]:
def zn(n):
  fim = 1
  for i in range(0,n+1):
    fim = fim*wn(i)
  return fim

#Desafio!

Escreva funções para desenhar figuras com asterísticos

In [ ]:
def desenhar_quadrado_com_asteristicos(tamanho):
  for i in range(0,tamanho):
   for j in range(0,tamanho):
      print(' * ', end='')
   print('\n')
  return

In [ ]:
def desenhar_triangulo_com_asteristicos(tamanho):
  for i in range(0,tamanho):
   for j in range(0,i):
      print(' * ', end='')
   print('\n')
  return

#Desafio!

defina uma função que desenha um triângulo com asterísticos começando da base!

#Dever de Casa

##Produtório!

$a_n = \frac{n-10}{n}$

$a_1 = \frac{1-10}{1} =-9$

$a_2 = \frac{2-10}{2} = -4$

$a_3 = \frac{3-10}{3} = -\frac{7}{3}$

...

$b_n = a_n * a_{n-1} * a_{n-2} * .... * a_1 = \prod_1^n a_n$


....

calcule o valor de $a_n$ e $b_n$ para vários $n$'s, qual valor essas sequências apresentam para n grande? Defina funções para obter os valores